{% extends "base.html" %}


<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% block content %}
        <div id="content">
        <h1>Challenge</h1>
        <img id="banner" src="/static/oneknight.jpg">
        <h2>Puzzle codzienne</h2>
        <iframe style="width: 400px; height: 560px;" src="https://www.chess.com/daily_puzzle" frameborder="0"></iframe>
        <div class="d-grid gap-2">
            <form action="https://www.chess.com/play/online/new?opponent=Anzel256">
                <input type="submit" value="Wyzwij mnie na pojedynek" />
            </form>
          </div>
        </div>
        {% endblock %}
    </body>
</html>